<app-menu></app-menu>
<div class="container control">
        <mat-slide-toggle [(ngModel)]="roundsControl[0]" (change)="changeToggle()">Ronde 1</mat-slide-toggle> 
        <mat-slide-toggle [(ngModel)]="roundsControl[1]" (change)="changeToggle()">Ronde 2</mat-slide-toggle> 
        <mat-slide-toggle [(ngModel)]="roundsControl[2]" (change)="changeToggle()">Ronde 3</mat-slide-toggle> 
        <mat-slide-toggle [(ngModel)]="roundsControl[3]" (change)="changeToggle()">Ronde 4</mat-slide-toggle> 
        <mat-slide-toggle [(ngModel)]="roundsControl[4]" (change)="changeToggle()">Ronde 5</mat-slide-toggle> 
        <mat-slide-toggle [(ngModel)]="roundsControl[5]" (change)="changeToggle()">Ronde 6</mat-slide-toggle> 

</div>