<app-menu></app-menu>
<div class="container">
    <form [formGroup]="round1" (ngSubmit)="onSubmit(round1)">

        <h5>Ronde 1</h5> 

        <input type="text" formControlName="a1" class="form-control" placeholder="Vraag 1">
        <input type="text" formControlName="a2" class="form-control" placeholder="Vraag 2"> 
        <input type="text" formControlName="a3" class="form-control" placeholder="Vraag 3"> 
        <input type="text" formControlName="a4" class="form-control" placeholder="Vraag 4"> 
        <input type="text" formControlName="a5" class="form-control" placeholder="Vraag 5"> 
        <input type="text" formControlName="a6" class="form-control" placeholder="Vraag 6"> 
        <input type="text" formControlName="a7" class="form-control" placeholder="Vraag 7"> 
        <input type="text" formControlName="a8" class="form-control" placeholder="Vraag 8"> 
        <input type="text" formControlName="a9" class="form-control" placeholder="Vraag 9"> 
        <input type="text" formControlName="a10" class="form-control" placeholder="Vraag 10"> 

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
      <form [formGroup]="round2" (ngSubmit)="onSubmit(round2)">

        <h5>Ronde 2</h5> 

        <input type="text" formControlName="a1" class="form-control" placeholder="Vraag 1">
        <input type="text" formControlName="a2" class="form-control" placeholder="Vraag 2"> 
        <input type="text" formControlName="a3" class="form-control" placeholder="Vraag 3"> 
        <input type="text" formControlName="a4" class="form-control" placeholder="Vraag 4"> 
        <input type="text" formControlName="a5" class="form-control" placeholder="Vraag 5"> 
        <input type="text" formControlName="a6" class="form-control" placeholder="Vraag 6"> 
        <input type="text" formControlName="a7" class="form-control" placeholder="Vraag 7"> 
        <input type="text" formControlName="a8" class="form-control" placeholder="Vraag 8"> 
        <input type="text" formControlName="a9" class="form-control" placeholder="Vraag 9"> 
        <input type="text" formControlName="a10" class="form-control" placeholder="Vraag 10"> 

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
