<app-menu></app-menu>
<div class="master-wrapper">
<div class="page-wrapper chiller-theme" [class.toggled]="statusSidebar">
  <a (click)="toggleSidebar()" id="show-sidebar" class="btn btn-sm btn-dark show-sidebar">
    Rondes
  </a>
  <nav id="sidebar" class="sidebar-wrapper">


    <div class="sidebar-brand">
      <a></a>
      <div (click)="toggleSidebar()" id="close-sidebar">
        <fa-icon [icon]="faTimes"></fa-icon>
      </div>
    </div>

    <div id="sidebar-title" class="sidebar-title">Rondes</div>
    <div id="rounds-menu" class="rounds-menu">
      <ul class="rounds-menu-list">
        <li class="rounds-menu-item"><a class="rounds-menu-item-number" (click)="setRound(1)">1</a></li>
        <li class="rounds-menu-item"><a class="rounds-menu-item-text" (click)="setRound(2)">2<br>ABC</a></li>
        <li class="rounds-menu-item"><a class="rounds-menu-item-number" (click)="setRound(3)" >3</a></li>
        <li class="rounds-menu-item"><a class="rounds-menu-item-text" (click)="setRound(4)" >4<br>Cluedo</a></li>
        <li class="rounds-menu-item"><a class="rounds-menu-item-number"(click)="setRound(5)" >5</a></li>
        <li class="rounds-menu-item"><a class="rounds-menu-item-text" (click)="setRound(6)" >6<br>Triple</a></li>

      </ul>
    </div>
    <!-- End of sidebar -->


  </nav>
  <!-- Answer form wrapper  -->
  <main class="page-content">
    <div id="form-container" class="container">
      
        <form [formGroup]="round1" [hidden]="currentRound != 1" (ngSubmit)="onSubmit(round1,1)">

          <h5>Ronde 1</h5>

          <input type="text" formControlName="1" class="form-control" placeholder="Vraag 1">
          <input type="text" formControlName="2" class="form-control" placeholder="Vraag 2">
          <input type="text" formControlName="3" class="form-control" placeholder="Vraag 3">
          <input type="text" formControlName="4" class="form-control" placeholder="Vraag 4">
          <input type="text" formControlName="5" class="form-control" placeholder="Vraag 5">
          <input type="text" formControlName="6" class="form-control" placeholder="Vraag 6">
          <input type="text" formControlName="7" class="form-control" placeholder="Vraag 7">
          <input type="text" formControlName="8" class="form-control" placeholder="Vraag 8">
          <input type="text" formControlName="9" class="form-control" placeholder="Vraag 9">
          <input type="text" formControlName="10" class="form-control" placeholder="Vraag 10">
          <hr class="linebreak">
          <div class="text-center"><button type="submit" class="btn btn-primary answerbtn">Antwoord verzenden</button></div>
        </form>

        <form [formGroup]="round2" [hidden]="currentRound != 2" (ngSubmit)="onSubmit(round2,2)">

          <h5>Ronde 2: ABC ronde</h5>

          <input type="text" formControlName="1" class="form-control" placeholder="Vraag 1">
          <input type="text" formControlName="2" class="form-control" placeholder="Vraag 2">
          <input type="text" formControlName="3" class="form-control" placeholder="Vraag 3">
          <input type="text" formControlName="4" class="form-control" placeholder="Vraag 4">
          <input type="text" formControlName="5" class="form-control" placeholder="Vraag 5">
          <input type="text" formControlName="6" class="form-control" placeholder="Vraag 6">
          <input type="text" formControlName="7" class="form-control" placeholder="Vraag 7">
          <input type="text" formControlName="8" class="form-control" placeholder="Vraag 8">
          <input type="text" formControlName="9" class="form-control" placeholder="Vraag 9">
          <input type="text" formControlName="10" class="form-control" placeholder="Vraag 10">
          <hr class="linebreak">
          <div class="text-center"><button type="submit" class="btn btn-primary answerbtn">Antwoord verzenden</button></div>
          
        </form>
     

    </div>

  </main>
</div>
</div>