<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <a class="navbar-brand" [routerLink]="['/start']"><img height="45px" src="..\assets\Logo.png" ><span class="brand-name">Superquiz 32-48</span></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="showMenuPoints" class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}">
      <ul id="navbar-menu" class="navbar-nav mr-auto">
        <li class='menuteambox-sm'>Team: {{currentTeam}} <a (click)="logOut()" class="logout small"><fa-icon [icon]="faSignOutAlt"></fa-icon>Afmelden</a></li>
        
        <li class="nav-item" [routerLink]="['/start']" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/start']">Start</a>
        </li>
        <li class="nav-item" [routerLink]="['/schifting']" routerLinkActive="active">
           <a class="nav-link" [routerLink]="['/schifting']">Schifting</a>
        </li>
        <li class="nav-item" [routerLink]="['/quiz']" routerLinkActive="active">
           <a class="nav-link" [routerLink]="['/quiz']">Quiz</a>
        </li>
         <li class="nav-item" [routerLink]="['/score']" routerLinkActive="active">
           <a class="nav-link" [routerLink]="['/score']">Score</a>
        </li>
        <li *ngIf="adminMode" class="nav-item" [routerLink]="['/verbeter']" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/verbeter']">Verbeter</a>
       </li>
       <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" (click)="logOut()">Afmelden?</a>
     </li>
      </ul>
    </div>
    <div class="ml-auto menuteambox">
      <div class="currentteam">Team: {{currentTeam}} 
      </div>
      <div  class="logout"><a (click)="logOut()"><fa-icon [icon]="faSignOutAlt"></fa-icon>Afmelden</a></div>
      
    </div>
    
  </nav>