<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <a class="navbar-brand" [routerLink]="['/start']"><img height="45px" src="..\assets\Logo.png" ><span class="brand-name">Superquiz 32-48</span></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}">
      <ul id="navbar-menu" class="navbar-nav mr-auto">
        <li class="nav-item" [routerLink]="['/start']" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/start']">Start</a>
        </li>
        <li class="nav-item" [routerLink]="['/schifting']" routerLinkActive="active">
           <a class="nav-link" [routerLink]="['/schifting']">Schifting</a>
        </li>
        <li class="nav-item" [routerLink]="['/quiz']" routerLinkActive="active">
           <a class="nav-link" [routerLink]="['/quiz']">Quiz</a>
        </li>
         <li class="nav-item" [routerLink]="['/score']" routerLinkActive="active">
           <a class="nav-link" [routerLink]="['/score']">Score</a>
        </li>
        <li class="nav-item" [routerLink]="['/verbeter']" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/verbeter']">Verbeter</a>
       </li>
      </ul>
    </div>
  </nav>