
<app-menu></app-menu>
<div *ngIf="gameState=='game'" class="container">

    <div class="row firstRow">
        <div class="col-9">
            <div class="progress" style="height: 30px;">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="timeLeft"
                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': timeLeft + '%', 'height':'30px'}">
                </div>
            </div> 
        </div>
        <div class="col-3">
            <div class="circle">
                {{score}}
            </div>
        </div>
    </div>
    <div class="row justify-content-center" [@flyInOut] *ngIf="showCountry">
        <div  class="col-12">
            <h3>{{flagQuestion.name}}</h3>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-12 col-md-2">
            <img src="https://flagcdn.com/h80/{{flag0.code}}.png" (click)="onFlagClicked(flag0.code)"
            [class]="classFlag0">
        </div>
        <div class="col-12 col-md-2">
            <img src="https://flagcdn.com/h80/{{flag1.code}}.png" (click)="onFlagClicked(flag1.code)"
            [class]="classFlag1">
        </div>
        <div class="col-12 col-md-2">
            <img src="https://flagcdn.com/h80/{{flag2.code}}.png" (click)="onFlagClicked(flag2.code)"
            [class]="classFlag2">
        </div>
    </div>

</div>
<div *ngIf="gameState=='start'" class="container">
    <div class="row text-center">
        <div class="col-12">
            <p>Raad zo veel mogelijk vlaggen in 100 seconden!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <button type="btn" class="btn btn-dark" (click)="onStart()">Start het spel</button>
        </div>
    </div>
</div>
<div *ngIf="gameState=='finish'" class="container">
    <div class="row text-center">
        <div class="col-12">
            <p>Goed gedaan! Je hebt {{score}} vlaggen correct geraden</p>

            <p>Geef je naam in om je score te bewaren</p>
        </div>
    </div>
    <form>
        <div *ngIf="save" class="form-row align-items-center justify-content-center">
            <div class="col-auto my-1">
                <input type="text" class="form-control" [value]="playerName" (input)="playerName=$event.target.value" placeholder="Naam">
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary" (click)="saveHighScore()">Opslaan</button>
            </div>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-auto">
            <button type="btn" class="btn btn-dark" (click)="onStart()">Nog een keer?</button>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ploeg</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let highscore of highscores; let i = index" [attr.data-index]="i">
            <th scope="row">{{i}}</th>
            <td>{{highscore.team}}</td>
            <td>{{highscore.score}}</td>
          </tr>
        </tbody>
      </table>
</div>


