
<app-menu></app-menu>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <h1>{{flagQuestion.name}}</h1><h1>Timer: {{timeLeft}} - Score: {{score}}</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="media">
            <img src="https://flagcdn.com/w160/{{flag0.code}}.png" (click)="onFlagClicked(flag0.code)">
        </div>
        <div class="media">
            <img src="https://flagcdn.com/w160/{{flag1.code}}.png" (click)="onFlagClicked(flag1.code)">
        </div>
        <div class="media">
            <img src="https://flagcdn.com/w160/{{flag2.code}}.png" (click)="onFlagClicked(flag2.code)">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <button type="btn" class="btn btn-dark" (click)="onStart()">Start</button>
        </div>
    </div>
</div>

<div class="container">
    <div *ngIf="highscores">
        <h2>Highscore</h2>
        <div *ngFor='let highscore of highscores'>{{highscore.team}} : {{highscore.score}} </div>
    </div>
</div>