<app-menu></app-menu>


<div class="container">
    <br>
    <p>Ingestuurde rondes: {{rounds.length}} - Totaal verbeterd: {{roundsCorrected}} - Aantal rondes met huidige filter:
        {{filteredList.length}}</p>
    <form [formGroup]="filterForm" class="form-inline" (ngSubmit)="onSubmit()">

        <select formControlName="roundNumbersControl" class="form-control">
            <option [value]="round" *ngFor="let round of roundNumbers">{{round}}</option>
        </select>

        <select formControlName="teamsControl" class="form-control">
            <option [value]="team.name" *ngFor="let team of teams">{{team.name}}</option>
        </select>

        <select formControlName="checkedControl" class="form-control">
            <option [value]="check" *ngFor="let check of checked">{{check}}</option>
        </select>

        <button type="submit" class="btn btn-primary">Filter</button>

    </form>

    <div *ngFor="let round of filteredList; let i = index" [attr.data-index]="i">
        <br>
        <table *ngIf="round.score" class="table table-striped headerTotal">
            <thead>
                <tr>
                    <th scope="col" class="center">Ronde: {{round.number}}</th>
                    <th scope="col" class="center">Ploeg: {{round.team}}</th>
                    <th scope="col" class="center">Deze ronde is verbeterd</th>
                    <th scope="col" class="center">Score: {{round.score}}</th>
                </tr>
            </thead>
        </table>
        <table *ngIf="!round.score" class="table table-striped headerTotalTwo">
            <thead>
                <tr>
                    <th scope="col" class="center">Ronde: {{round.number}}</th>
                    <th scope="col" class="center">Ploeg: {{round.team}}</th>
                    <th scope="col" class="center">Deze ronde is nog niet verbeterd</th>
                    <th scope="col" class="center"> {{round.score}}</th>
                </tr>
            </thead>
        </table>
        <table class="table table-striped scoretable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Antwoord</th>
                    <th scope="col">Verbetering</th>
                    <th scope="col" class="checkboxTD">Correct</th>
                </tr>
            </thead>
            <tbody *ngIf="round.number!==6">
                <tr *ngFor="let answ of round.answers; let k = index" [attr.data-index]="k">
                    <th scope="row">{{k+1}}</th>
                    <td>{{answ.answer}}</td>
                    <td>{{answ.corrections}}</td>
                    <td class="checkboxTD"><input type="checkbox" class="form-check-input" id="exampleCheck1"
                            [(ngModel)]="answ.autoCorrect" (change)="recalculateTotal(i)"></td>
                </tr>
                <tr>
                    <th scope="row">Bevestigde score: {{round.score}}</th>
                    <th colspan="2" class="right"><button type="submit" class="btn btn-primary"
                            (click)="setScore(i)">Bevestig</button></th>
                    <th><input type="number" [(ngModel)]="round.autoScore"></th>
                </tr>
            </tbody>
            <tbody *ngIf="round.number==6">
                <ng-container *ngFor="let answer of round.answers; let j = index">
                    <tr>
                        <th scope="row">{{j+1}}</th>
                        <td>{{answer.answer.ans[0]}}</td>
                        <td>{{answer.corrections.m1}}, {{answer.corrections.m2}}, {{answer.corrections.m3}}</td>
                        <td class="checkboxTD"><input type="checkbox" class="form-check-input" id="exampleCheck1"
                                [(ngModel)]="answer.autoCorrect[0]" (change)="recalculateTotal(i)"></td>
                    </tr>
                    <tr>
                        <th scope="row">{{j+1}}</th>
                        <td>{{answer.answer.ans[1]}}</td>
                        <td>{{answer.corrections.m1}}, {{answer.corrections.m2}}, {{answer.corrections.m3}}</td>
                        <td class="checkboxTD"><input type="checkbox" class="form-check-input" id="exampleCheck1"
                                [(ngModel)]="answer.autoCorrect[1]" (change)="recalculateTotal(i)"></td>
                    </tr>
                    <tr>
                        <th scope="row">{{j+1}}</th>
                        <td>{{answer.answer.ans[2]}}</td>
                        <td>{{answer.corrections.m1}}, {{answer.corrections.m2}}, {{answer.corrections.m3}}</td>
                        <td class="checkboxTD"><input type="checkbox" class="form-check-input" id="exampleCheck1"
                                [(ngModel)]="answer.autoCorrect[2]" (change)="recalculateTotal(i)"></td>
                    </tr>
                </ng-container>
                <tr>
                    <th scope="row">BS: {{round.score}}</th>
                    <th colspan="2" class="right"><button type="submit" class="btn btn-primary"
                            (click)="setScore(i)">Bevestig</button></th>
                    <th><input type="number" [(ngModel)]="round.autoScore"></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>