<app-menu></app-menu>
<div class="container">

    <nav class="nav nav-pills nav-fill">
        <a [class]="classGen" (click)="changeTable('general')">Algemeen klassement</a>
        <a [class]="classRound" (click)="changeTable('round')">Per ronde</a>
        <a [class]="classTeam" (click)="changeTable('team')">Per ploeg</a>
      </nav>
    <table *ngIf="general" class="table table-striped scoretable">

        <thead >
            <tr>
                <th scope="col"><fa-icon [icon]="faMedal"></fa-icon></th>
                <th scope="col"><fa-icon [icon]="faUsers"></fa-icon></th>
                <th scope="col">Score</th>
            </tr>
        </thead>    
        <tbody>
        <tr  [ngClass]="{'currentteamscore': currentTeam == totalScore.team }" *ngFor="let totalScore of totalScoreList;let i = index" [attr.data-index]="i">
            <th scope="row">{{i+1}}</th>
            <td>{{totalScore.team}}</td>
            <td>{{totalScore.score}}</td>
        </tr>
    </tbody>
    </table>

    <form *ngIf="round" [formGroup]="filterRoundForm" class="form-inline" (change)="filterRound()">
        <h1>Ronde: </h1>

        <select formControlName="roundNumbersControl" class="form-control">
        <option [value]="round" *ngFor="let round of roundNumbers">{{round}}</option>
        </select>
    </form>
    <table *ngIf="round" class="table table-striped scoretable">
        <thead >
            <tr>
                <th scope="col"><fa-icon [icon]="faMedal"></fa-icon></th>
                <th scope="col"><fa-icon [icon]="faUsers"></fa-icon></th>
                <th scope="col">Score</th>
            </tr>
        </thead>    
        <tbody>
        <tr  [ngClass]="{'currentteamscore': currentTeam == roundScore.team }" *ngFor="let roundScore of roundScoreList;let i = index" [attr.data-index]="i">
            <th scope="row">{{i+1}}</th>
            <td>{{roundScore.team}}</td>
            <td>{{roundScore.score}}</td>
        </tr>
    </tbody>
    </table>

    <form *ngIf="team" [formGroup]="filterTeamForm" class="form-inline" (change)="filterTeam()">
        <h1>Ploeg: </h1>

        <select formControlName="teamControl" class="form-control">
        <option [value]="team" *ngFor="let team of teams">{{team}}</option>
        </select>
    </form>
    <table *ngIf="team" class="table table-striped scoretable">
        <thead >
            <tr>
                <th scope="col">Ronde</th>
                <th scope="col">Omschrijving</th>
                <th scope="col">Score</th>
            </tr>
        </thead>    
        <tbody>
        <tr *ngFor="let teamScore of teamScoreList;let i = index" [attr.data-index]="i">
            <th scope="row">{{teamScore.number}}</th>
            <td *ngIf="teamScore.number==1">ROde draad ronde</td>
            <td *ngIf="teamScore.number==2">ABC ronde</td>
            <td *ngIf="teamScore.number==3">Rode draad ronde</td>
            <td *ngIf="teamScore.number==4">Cluedo ronde</td>
            <td *ngIf="teamScore.number==5">Rode draad ronde</td>
            <td *ngIf="teamScore.number==6">Trippel ronde</td>
            <td *ngIf="teamScore.number==7">Tafelronde: Sudoku</td>
            <td>{{teamScore.score}}</td>
        </tr>
    </tbody>
    </table>
</div>