/* You can add global styles to this file, and also import other style files */

$theme-colors: (
  "primary": #ff5959,
  "secondary": #facf5adc,
  "dark": #086850,
);

body {
  font-family: 'Bebas Neue';
}

h1 {
  font-family: 'Bebas Neue';
  color: var(--dark);
  padding-top: 10px;
  
}

h5 {
  font-family: 'Bebas Neue';
  color: var(--secondary);
  font-size: 1.5em!important;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--dark);
  border-radius: 5px;
  
}





@import "node_modules/bootstrap/scss/bootstrap";

.btn-primary {
  background-color: var(--dark);
  border:none
}

.btn-primary:hover {
  
  background-color: var(--secondary);
  color: var(--dark);
  border: none;
}

.btn-primary:focus {
  color: var(--primary);
  background-color: var(--secondary);
}