form {
    padding: 10px;
}

input.ng-valid  {
    border-left: 5px solid #42A948; /* green */
}




h1,h2, ngx-qrcode {
    text-align: center ;
}

.bshadow {

    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
    opacity: .5;
  
  }

fa-icon {
    font-size: 7em;
    text-align: center ;
    margin-left: 5px;
    margin-right: 5px;

}

.smallIcon {
    font-size: 2.3em;

}


// Navigationbar

.navbar-custom {
    color: #facf5adc;
    background-color: #086850;
}

.navbar-brand {
    font-family: "Bebas Neue";
    color: #facf5adc;
    
}

.brand-name {
    padding-left: 10px;
}

.codeinput {
    width: 180px;
    height:45px;
}

.openquizbtn {
    
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    margin-left: -60px;
    font-family: "Bebas Neue";
}

.wrongcode {
    position: absolute;
    top: 20px;
    margin-left: 8px;
    font-size: 6pt;
    color: red;
}

.loginform {
    margin-left: auto;
}

@media only screen and (max-width: 400px) {
    .loginform {
                margin-right: auto;
        
        margin-left: auto;
      
        min-width: 200px;
        background-color: var(--dark);
       
        
    }

    .openquizbtn {
    
        padding-left: 7px;
        padding-right: 7px;
        position: relative;
        margin-left: -85px;
        font-family: "Bebas Neue";
    }

    .codeinput {
        width: 160px;
        height:45px;
      
        
    }
    
    .navbar-brand {
        margin-left: auto;
        margin-right: auto;
        min-width: 100%;
        text-align: center;
        background-color: var(--dark);
        border-radius: 5px;
        
    }

    .code {
        margin-left: auto;
        margin-right:auto;
        
    }

    .wrongcode {
        color: red;
        position: absolute;
        top: 77px;
        margin-left: 5px;
        font-size: 6pt;
    }

   
  }

.wrongcode {

    color: red;

}

.packtitle {
    color: var(--dark);
    font-weight: 600;
    display: inline;
}

.packdescription {
    color: darkgray;
    font-style: italic;
    font-size: 10pt;
}
.enterqty {
    max-width: 60px;
    display: inline;
}

.pricetag {
    margin-left: 3px;
    color: var(--dark);
}

.label {
    color: var(--dark);
    font-weight: 600;
    max-width: 100px;
}

.qty-row {
    padding-bottom: 10px; 
    border-bottom:  solid 1px var(--secondary);
}

.btn {
    cursor: pointer;
}

.packagedetails {
    color: red;
    margin-top: 0;
    padding-top: 0;
    font-size: 10px;
}

.green {
    color: green;
}

.center-items{
    padding-bottom: 5px; 
  
    justify-content: center;
    text-align: center;

}


.basisprijs {
    padding: 5px 10px 5px 10px;
    border: solid 1px rgba(grey,0.4);
    border-radius: 5px;
   
}

.registerform {
    border: solid 2px var(--secondary);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.promobanner {
    border: solid 2px var(--dark);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.promobannertitle {
    margin: 10px 10px 0px 10px;
    color:white;
     background-color: var(--dark)
}

.formtitle {
    width: 100%;
   color:white;
    background-color: var(--secondary)
}