<app-menu></app-menu>
<div class="container">
<form (ngSubmit)="onSubmit()" #registerForm="ngForm" novalidate>
  <h1>Registreer</h1>
    <p>Wil je graag meedoen met de Superquiz van Scouts 32-48 op 20 Maart 2021? Registreer door onderstaande gegevens in te vullen en betaal het inchrijvingsgeld op rekening BE65464654. Vervolgens krijg je per mail een unieke code toegestuurd waarmee het mogelijk is om in te loggen op onze online quiz tool.</p>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10 input-group">
        <input type="email" class="form-control" id="email" placeholder="Email"
        [(ngModel)]="registration.email" name="email" required #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      </div>
    </div>
    <div class="form-group row">
      <label for="Naam" class="col-sm-2 col-form-label">Naam</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="naam" placeholder="Naam" [(ngModel)]="registration.name" name="Naam" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="Ploegnaam" class="col-sm-2 col-form-label">Ploegnaam</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Ploegnaam" placeholder="Ploegnaam" [(ngModel)]="registration.team" name="Ploeg" required>
      </div>
    </div>
    <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Pakket</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input  class="form-check-input" type="radio" name="1" id="1" [value]="formules[0]" [(ngModel)]="registration.formule" ng-control="formule">
          <label class="form-check-label" for="1">
              {{formules[0]}}
          </label>
        </div>
        <div class="form-check">
          <input  class="form-check-input" type="radio" name="2" id="2" [value]="formules[1]" [(ngModel)]="registration.formule" ng-control="formule">
          <label class="form-check-label" for="2">
            {{formules[1]}}
          </label>
      </div>
     </div>
  </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Registreer</button>
      </div>
    </div>
  </form>

  <form (ngSubmit)="onSubmitCode()" #codeForm="ngForm" novalidate>
    <h1>Open de quiz</h1>

    <div class="form-group row">
      <label for="code" class="col-sm-2 col-form-label">Quizcode</label>
      <div class="col-sm-10">
        <input type="password" class="form-control code" id="code"
         placeholder="Code" [(ngModel)]="code" name="Code" required>
        <div *ngIf="wrongCode" class="wrongCode">
          Dit is geen geldige code
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="!codeForm.form.valid">Open de quiz</button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <p>Om te testen kan je inloggen met één van volgende ploegen:</p>
  <table class="table table-striped">
    <tr>
      <th>Ploegnaam</th>
      <th>Code</th>

    </tr>
    <tr *ngFor="let team of teams">
      <td>{{team.name}}</td>
      <td>{{team.code}}</td>

    </tr>
  </table>

</div>