<!-- Navigation bar -->

<nav id= "registermenu" class="navbar navbar-expand-lg navbar-light navbar-custom">
  <a class="navbar-brand"><img height="45px" src="..\assets\Logo.png" ><span class="brand-name">Superquiz 32-48</span></a>
  <form id="code" (keyup)="wrongCode = false" (ngSubmit)="onSubmitCode()" #codeForm="ngForm" class="form-inline loginform">
    <div class="code"> 
      <div  class="form-group row">
        <input maxlength="6" class="form-control codeinput"  placeholder="Quizcode" [(ngModel)]="code" name="Code" required>
        <div class="wrongcode" *ngIf="wrongCode">
          Ongeldige code
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <button type="submit" class="btn btn-primary openquizbtn">Deelnemen</button>
      </div>
    </div>
  </form>
</nav>

<!-- Page content -->
<div class="container">
<h1>Superquiz 2021</h1>
<h2>20 Maart 20:00</h2>
<h2>Iedereen samen online, gezellig met je ploeg thuis</h2>

<div class="row justify-content-center align-items-center">
    <fa-icon [icon]="faYoutube"></fa-icon> 
    <fa-icon class="smallIcon" [icon]="faPlus"></fa-icon> 
    <fa-icon [icon]="faDesktop"></fa-icon>
</div>
<h2>Live op YouTube</h2>
<h2>Verwen je ploeg met een lekkere versnapering</h2>



<form (ngSubmit)="onSubmit()" #registerForm="ngForm" novalidate>
  <h1>Registreer</h1>
    <p>Registreer door onderstaande gegevens in te vullen en betaal het inchrijvingsgeld op rekening BE32 0014  1659 7902.
       Vervolgens krijg je per mail een unieke code toegestuurd waarmee het mogelijk is om in te loggen op onze online quiz tool.
      <br><br>De basisprijs om mee te doen aan de quiz is €10. Voor de tussenrondes moeten er enkel pagina's worden afgdrukt.
       Wie een pakket besteld krijgt de tussenrondes mee geleverd met het pakket, dit is mogelijk in Mortsel en de buurgemeenten.</p>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10 input-group">
        <input type="email" class="form-control" id="email" placeholder="Email"
        [(ngModel)]="registration.email" name="email" required #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      </div>
    </div>
    <div class="form-group row">
      <label for="Naam" class="col-sm-2 col-form-label">Naam</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="naam" placeholder="Naam" [(ngModel)]="registration.name" name="Naam" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="Ploegnaam" class="col-sm-2 col-form-label">Ploegnaam</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Ploegnaam" placeholder="Ploegnaam" [(ngModel)]="registration.team" name="Ploeg" required>
      </div>
    </div>
    <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Formule</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input  class="form-check-input" type="radio" name="1" id="1" [value]="formules[0]" [(ngModel)]="registration.formule" ng-control="formule">
          <label class="form-check-label" for="1">
              {{formules[0]}}
          </label>
          <div class="row">
            <div class="col-1">
              <input type="text" class="form-control" placeholder="0">
            </div>
            <div class="col-10">
              <p>'t moet ni lekker zijn, alst ma veel is</p>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <input type="text" class="form-control" placeholder="0">
            </div>
            <div class="col-10">
              <p>'t moet ni lekker zijn, alst ma veel is</p>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <input type="text" class="form-control" placeholder="0">
            </div>
            <div class="col-10">
              <p>'t moet ni lekker zijn, alst ma veel is</p>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <input type="text" class="form-control" placeholder="0">
            </div>
            <div class="col-10">
              <p>'t moet ni lekker zijn, alst ma veel is</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <textarea type="text" class="form-control" placeholder="Leveradres + voorkeur wijn/bier (indien van toepassing)"></textarea>
            </div>
          </div>
          <p>Totaal: €35</p>
        </div>
        <div class="form-check">
          <input  class="form-check-input" type="radio" name="2" id="2" [value]="formules[1]" [(ngModel)]="registration.formule" ng-control="formule">
          <label class="form-check-label" for="2">
            {{formules[1]}}
          </label>
      </div>
     </div>
  </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Registreer</button>
      </div>
    </div>
  </form>

</div>
<h2>Contacteer ons via <a href="mailto:info@superquiz.be">info@superquiz.be</a></h2>

<div class="container">
  <h1>Demo data</h1>
  <p>Om te testen kan je inloggen met één van volgende ploegen:</p>
  <table class="table table-striped">
    <tr>
      <th>Ploegnaam</th>
      <th>Code</th>

    </tr>
    <tr *ngFor="let team of teams">
      <td>{{team.name}}</td>
      <td>{{team.code}}</td>

    </tr>
  </table>

</div>